/* Reduce height of elements due to the augmentation of the padding
 * for h2 tags
 */
#domain-list, #cookie-list {
    height: calc(100% - 75px);
}
#value {
    /* -41px */
    height: 125px;
}
/* Customization */
h2 {
    background: #12b36f;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
    color: white;
}

.list-group-item {
    /*padding: 7px 17px;*/
    color: #727272;
    border-color: #efefef;
}
.list-group-item:first-child{
    border-radius: 0;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
#search_domain_submit{
    background-color: #48d298;
    border-color: #48d298;
}
.list-group-item > .badge{
    border-radius: 0;
}
.list-group-item > .badge{
    background-color: #48d298;
}
.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: white;
    background-color: #12b36f;
}
.form-control {
    border-radius: 0;
    box-shadow: inherit;
    background: #f9f9f9;
    border-color: #e6e6e6;
}
.btn-default,
.input-group-addon,
.open > .dropdown-toggle.btn-default{ /*fix grey bg color during the click*/
    border-radius: 0px;
    background-color: #48d298;
    color: white;
    border-color: #48d298;
}
.btn-default:hover,
.dropup > .dropdown-toggle.btn-default:hover{ /*fix grey bg color during the click*/
    background-color: #12b36f;
    border-color: #2fad78;
    color: white;
}
.btn-default:focus,
.open > .dropdown-toggle.btn-default:focus{
    /* Add a border when buttons are focused by tab key */
    border-color: #15774e;
    color: white;
    background-color: #2fad78;
}
.btn-default:active:focus {
    /*fix grey bg color during the click*/
    background-color: #2fad78;
}
.glyphicon{
    color: white;
}
.top-buttons .glyphicon{
    top: -2px;
    color: #48d298;
}

@media only screen and (max-width: 768px) {
    #domain-list, #cookie-list {
        height: 200px; /* +50px */
    }
    .row .col-sm-8 {
        top: 465px; /* +90px */
    }
}
