.panel {
    background: black;
    color: white;
}
a, a:visited{
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: white;
}
a:hover {
    box-shadow:0px 1px 1px gray inset;
    background-color: #404040;
}
.favicon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: bottom;
}
.hidden_item {
    display: None;
}
